{
  "parser": "babel-eslint", // https://github.com/babel/babel-eslint
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "__DEV__": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": false,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "jsx": true
    }
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "no-unused-vars": [1],
    "semi": ["error", "always"]
  }
}
