{{!< base }}

<div class="inner">
    <header>
        <h1 style="color: red;">{{title}}</h1>
    </header>

    <section class="box">
        <h2>{{message}}</h2>
        {{#if error}}
        <p>{{error.stack}}</p>
        {{/if}}
</div>
