{{!< base }}
<div class="inner">
    <header>
        <h1>Recent posts</h1>
    </header>
    <section id="post-list">
        {{> home/post-simple }}
    </section>
    <a href="javascript:" onclick="loadmore()" class="button special">Load more</a>
</div>
{{#contentFor "pageScripts"}}
<script>
var page = {{page}};
function loadmore() {
    page += 1;
    console.log(page);
}
</script>
{{/contentFor}}
