{{!< base }}

<div class="inner">
    <header>
        <h1>{{postCategory.name}}</h1>
        <p>{{postCategory.description}}</p>
    </header>

    <section class="box">
        {{> post-list }}
    </section>
</div>
