{{!< base }}
<div class="inner">
    <h1>{{post.title}}</h1>
    <span class="image main"><img src="{{post.image}}"></span>
    <section>
        <p><strong>{{{post.description}}}</strong></p>
        {{{post.content}}}
    </section>
</div>
